.movie-overlay{
    position: fixed;
    z-index: 150;
    display: grid;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    place-items: center;
    background-color: rgb(0 0 0/ 70%);
}
.movie-popup{
    display: grid;
    position: relative;
    gap:20px;
    border: 2px solid #3a3a3a;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 40%);
    padding: 0;
    transition: scale 0.3s;
    background-color: #1e1e1e;
    box-sizing: border-box;
    width: 650px;
    max-height: 90vh;
    overflow-y: auto;
    padding-bottom: 30px;
}
.modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    color: #9c06e7;
    scale: 1.3;
    border: none;

}
.media-details-body {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.movie-info{
    position: relative;
}
.trailer{
    width: 80%;
    aspect-ratio: 16/9;
    justify-self: center;
}
.movie-backdrop {
    height: 160px;
    background-size: cover;
    background-position: center;
    height: 120px;
    box-shadow: 0 6px rgb(0 0 0 /40%);
    background-size: cover;
    background-position: center;
    border-radius: 18px 18px 0 0;
    position: sticky;
    top: 0;
    z-index: 2;
}
.modal-details {
        margin-inline: 20px;
    }
.no-poster {
    width: 200px;
    aspect-ratio: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}

@media (max-width: 768px){
    .movie-popup{
        width: 95%;
    }
    .media-details-body{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .poster img {
        width: 150px;
        max-width: 100%;
    }
    .movie-info{
        width: 100%;
    }
    .movie-info p:first-child {
        margin-top: 0;
    }
    .trailer{
        width: 90%;
        aspect-ratio: 16/9;
        height: auto;
    }
    .library-status{
        margin: 10px 20px;
    }
    
}