.search-result{
    display:flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
:root{
    --poster-width: 150px;
    --poster-height: 225px;
}
.search-poster, .no-poster{
    width: var(--poster-width);
    height: var(--poster-height);
    box-sizing: border-box;
}
.search-poster{
    object-fit: cover;
}
.no-poster{
    border:solid;
}
.search-container{
    position: relative;
    
}
.search-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.search-header p{
    margin: 0;
}
.search-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 350px;
    background-color: white;
    border: solid 1px;
    padding: 10px;
    max-height: 350px;
    overflow-y: auto;
    z-index: 10;
}
.search-dropdown .search-poster, 
.search-dropdown .no-poster{
    width: 60px;
    height: 90px;
    margin-bottom: -15px;
    border: solid 1px;
    border-radius: 3px;
}
.media-form{
    position: relative;
    width: 500px;
}
.close-button{
    position: absolute;
    top: 0px;
    right: 5px;
    border: none;
    scale: 1.2;
}
button{
    cursor: pointer;
}