.filter-button{
    border: solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px #101011;
    background-color: #493c5e;
    color: white;
    transition: scale 0.3s;
    margin-left: 5px;

}
.filter-button:hover{
    scale: 1.1;
    background-color: #670296;
    box-shadow: 2.5px 2.5px 2.5px 2.5px #101011;
}
.filter-button-active{
    border: solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    background-color: #670296;
    color: white;
    box-shadow: 2.5px 2.5px 2.5px 2.5px #101011;
}
.browse-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    margin-top: 30px;
}
.browse-poster{
    border: solid 1px rgb(128, 128, 128);
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    box-shadow: 2px 2px 2px 2px rgb(10, 10, 10);
}
.browse-movie-card:hover{
    scale:1.15;
}
.movie-title{
    display: flex;
}
.page-button{
    border: solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px #101011;
    background-color: #493c5e;
    color: white;
    transition: scale 0.3s;
    margin-left: 5px;
}
.page-button-active{
    border: solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    background-color: #670296;
    color: white;
    box-shadow: 2.5px 2.5px 2.5px 2.5px #101011;
    margin-left: 5px;
}
