.home-layout{
    width: 100%;
}
.home-searchbar{
    background-color: rgb(22, 21, 22);
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 30px;
    color: rgb(192, 192, 192);
    font-size: 20px;
    border: 1px solid gray;
    padding-left: 40px;
}
.home-searchbar::placeholder{
    color: rgb(187, 186, 187);
    font-size: 20px;
}
.search-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    background-color: #1c1c29;
    height: 85px;
    padding: 15px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.search-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    scale: 1.1;
    z-index: 1;
}
.home-content{
    padding-left: 20px;
}
.home-search-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #121212;
    border: solid 1px;
    padding: 10px;
    max-height: 350px;
    overflow-y: auto;
    z-index: 10;
}
.home-search-wrapper{
    position: relative;
    width: 400px;
}
.home-search-dropdown .search-poster, 
.home-search-dropdown .no-poster{
    width: 60px;
    height: 90px;
    margin-bottom: 0;
    border: solid 1px;
    border-radius: 3px;
}
.search-poster, .no-poster{
    width: var(--poster-width);
    height: var(--poster-height);
    box-sizing: border-box;
}
.search-poster{
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.no-poster{
    border:solid;
}
.search-result{
    display:flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 1px;
}
.search-result:hover{
    background-color: #272727;
}
.recently-added-grid,
.continue-watching-grid{
    display: flex;
    gap: 35px;
    width: 100%;
    min-width: 0;
    overflow-x: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}
.recently-added-layout,
.continue-watching-layout{
    border: 1px solid gray;
    border-radius: 30px 0 0 30px;
    background-color:#0a0a13;
    box-sizing: border-box;
    padding: 10px 20px 20px 20px;
    width: 100%;
    min-width: 0;
}
.recently-added-card,
.continue-watching-card{
    display: block;
    width: 150px;
    min-width: 150px;
    flex-shrink: 0;
    background-color: rgba(13, 12, 14, 0.6);
    border-radius: 15px;
    border: 1px solid gray;
    transition: 0.3s;
}
.recently-added-card img{
    width: 100%;
}
.recently-added-card:hover{
    cursor: pointer;
    transform: translateY(-8px);
    border-color: #ae05fc;
}
.media-title{
    margin-top: 0;
    padding: 5px;
}
.view-all{
    display: flex;
    width: 200px;
}
.view-all-button{
    height: 100%;
    width: 130px;
    border-radius: 0 20px 20px 0;
    color: rgb(191, 146, 218);
    font-size: 30px;
    cursor: pointer;
    transition: 0.6s;
    background: linear-gradient(
        to right,
        #1c1c29,
        #673a8d,
        #1c1c29);
    background-size: 200% 100%;
    background-position: left;
    transition: background-position 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.view-all-button:hover {
    background-position: right;
}
.recently-added-section,
.continue-watching-section{
    display: flex;
    width: 75%;
    min-width: 0;
    margin-top: 40px;
}
.recently-added-title h2{
    margin-top: 10px;
}
.arrow{
    width: 35px;
    height: 35px;
}
.continue-watching-card img{
    width: 100%;
}
.continue-watching-card:hover{
    cursor: pointer;
    transform: translateY(-3px);
    border-color: #ae05fc;
}
.library-chart{
    border: solid;
    width: 140px;
    min-width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.library-stats-title h2{
    margin: 0;
    margin-bottom: 15px;
}
.chart-center{
    border: solid;
    width: 110px;
    min-width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #050511;
    display: flex;
    justify-content: center;
    align-items: center;
}
.your-library{
    border: 1px solid gray;
    border-radius: 30px;
    padding: 25px;
    display: grid;
    margin-bottom: 30px;
    width: 73%;
    box-sizing: border-box;
    background-color:#0a0a13;
    margin-top: 40px;
}
.library-count{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: space-evenly;
}
.library-stats-overview{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    min-width: 0;
}
.library-stats-body{
    display: flex;
    width: 100%;
    align-items: center;
}
.stats-card{
    border: solid 1px gray;
    border-radius: 30px;
    margin: 10px;
    padding: 15px;
    background-color: #1c1c29;
    box-shadow: 2px 2px 2px 2px #737374;
}
.stats-card-movie{
    color:  #ae05fc;
}
.stats-card-tv{
    color:  #673aed;
}
.stats-card h2{
    text-align: center;
}
.stats-stats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    min-width: 0;
}
.display-movie-percentage,
.display-tv-percentage{
    display: flex;
    gap: 100px;
}
.movie-percentage{
    color:  #ae05fc;
    margin-bottom: 30px;
}
.tv-percentage{
    color:  #673aed;
}
.mobile-view-all{
    display: none;
}
@media (max-width: 1449px){
    .your-library{
        width: 73%;
        min-width: 380px;
    }
    .library-stats-overview{
        display: grid;
        width: 100%;
        gap: 5px;
    }
    .stats-card{
        flex: 1;
        width: 150px;
        min-width: 150px;
    }
    .stats-card p{
        justify-self: center;
    }
    .stats-stats{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .display-movie-percentage,
    .display-tv-percentage{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 30px;
    }
    .display-movie-percentage{
        margin-top: 60px;
    }
    .library-count{
        width: 90%;
        margin-left: 0;
    }
}
@media (max-width: 768px){
    .home-searchbar{
        width: calc(100% - 70px);
        margin-right: auto;
    }
    .recently-added-card{
        flex-shrink: 0;
    }
    .view-all{
        display: none;
    }
    .mobile-view-all{
        display: flex;
        flex-shrink: 0;
        color: rgb(191, 146, 218);
        font-size: 30px;
        cursor: pointer;
        background: linear-gradient(to right,#1c1c29, #673a8d, #1c1c29);
        width: 150px;
        border-radius: 15px;
        background-size: 200% 100%;
        background-position: left;
        transition: background-position 0.4s;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mobile-view-all:hover {
    background-position: right;
    }
    .recently-added-section,
    .continue-watching-section{
        width: 98%;
    }
    .recently-added-layout,
    .continue-watching-layout {
        width: 95%;
        border-radius: 30px;
        min-width: 0;
    }
    .recently-added-grid,
    .continue-watching-grid {
        scroll-snap-type: x mandatory;
        gap: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 8px;
    }
    .recently-added-card,
    .continue-watching-card {
        scroll-snap-align: start;
    }
    .recently-added-card img,
    .continue-watching-card img {
        width: 100%;
        height: auto;
    }
    .recently-added-card,
    .continue-watching-card,
    .mobile-view-all {
        flex-shrink: 0;
        scroll-snap-align: start;
    }
    .your-library{
        width: 95%;
        min-width: 0;
    }
    .library-stats-overview{
        width: 95%;
    }
    .library-stats-body{
        flex-direction: column;
        align-items: center;
        gap: 25px;    
    }
    .stats-card{
        flex: 1;
        width: 150px;
        min-width: 150px;
    }
    .stats-card p{
        justify-self: center;
    }
    .stats-stats{
        width: 100%;
    }
    
    .display-movie-percentage,
    .display-tv-percentage{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 30px;
    }
    .display-movie-percentage{
        margin-top: 10px;
    }
    .library-count{
        width: 90%;
        margin-left: 0;
    }
    .recently-added-title h2{
        margin: 0;
        padding: 5px;
    }
    .continue-watching-title h2{
        margin: 0;
        margin-top: 5px;
    }
    .library-stats-title h2{
        margin: 0;
        margin-top: -10px;
        margin-bottom: 5px;
    }
    .home-search-wrapper{
        width: 100%;
    }
    .home-search-dropdown{
        max-height: 280px;
    }
}

